@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f1eaea;
  height: 15vh;
  width: 100%;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  gap: 10px;
  width: auto;
}

.text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration-line: underline;
  text-decoration-thickness: 0.15rem;
}

.logo {
  margin: 0px 10px 0px 10px;
}

.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: 1rem;
  font-weight:normal;
  font-family: 'Inter', sans-serif;
  gap: 3rem;
  margin: auto 50px auto auto;
}

.link {
  display: flex;
  justify-content: right;
  align-items: center;
  height: auto;
  width: auto;
  border-bottom: 3px solid black;
}

.link:hover {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: auto;
  padding: 0.5rem;
  text-shadow: 0px 0px 15px rgba(36,1,182,1);
  border-bottom: 3px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}